<div class="container mt20">
    <div class="row">
        <div class="col-md-11 offset-md-1 " >
            <form (ngSubmit)="addtheatre()">

                <mat-form-field class="w70">
                    <mat-label>Theatre Name</mat-label>
                    <input 
                    [(ngModel)]="theatre.theatreName"
                    type="text"
                    matInput
                    name="name"
                    palceholder="Enter name">
                </mat-form-field>

                <mat-form-field class="w70">
                    <mat-label>Theatre Location</mat-label>
                    <input 
                    [(ngModel)]="theatre.location"
                    type="text"
                    matInput
                    name="location"
                    palceholder="Enter location">
                </mat-form-field>

                <mat-form-field class="w70" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea 
                    [(ngModel)]="theatre.address"
                    type="text"  
                    name="address" 
                    placeholder="Enter address"
                    matInput
                    rows="5"
                  
                    
                    ></textarea>
                </mat-form-field>

                <mat-form-field class="w70">
                    <mat-label>City</mat-label>
                    <input 
                    [(ngModel)]="theatre.city"
                    type="text"
                    matInput
                    name="city"
                    palceholder="Enter city">
                </mat-form-field>

                <mat-form-field class="w70">
                    <mat-label>Seats Capacity</mat-label>
                    <input 
                    [(ngModel)]="theatre.seatCapacity"
                    type="number"
                    matInput
                    name="seatsCapacity"
                    palceholder="Enter number">
                </mat-form-field>

                <mat-form-field class="w70">
                    <mat-label>Phone no</mat-label>
                    <input 
                    [(ngModel)]="theatre.phoneno"
                    type="number"
                    matInput
                    name="phoneno"
                    palceholder="Enter phone no">
                </mat-form-field>

                <!-- <mat-form-field class="w30 ml50">
                    <mat-label>Ticket Type</mat-label>
                   <mat-select name="seattype"   [(ngModel)]="theatre.ticket.ticketType">
                    <mat-option value="Recliner">Recliners</mat-option>
                    <mat-option value="Gold">Gold</mat-option>
                    <mat-option value="Silver">Silver</mat-option>
                </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field class="w30 ml50">
                    <mat-label>Ticket Type</mat-label>

                    <ng-container *ngFor="let t of theatre.ticket">
                        <mat-select name="seattype"   [(ngModel)]="t.ticketType">
                            <mat-option value="Recliner">Recliners</mat-option>
                            <mat-option value="Gold">Gold</mat-option>
                            <mat-option value="Silver">Silver</mat-option>
                        </mat-select>
                    </ng-container>

                 
                </mat-form-field> -->



                

                <!-- <mat-form-field class="w30 ml50">
                    <mat-label>Ticket Price</mat-label>
                    <input
                    [(ngModel)]="theatre.ticket.ticketprice" 
                    type="text"
                    matInput
                    name="ticketprice"
                    palceholder="Enter price">
                </mat-form-field> -->

                <!-- <mat-form-field class="w30 ml50">
                    <mat-label>Ticket Price</mat-label>
                   <ng-container *ngFor="let t of theatre.ticket">
                    <input 
                    [(ngModel)]="t.ticketprice" 
                    type="text"
                    matInput
                    name="ticketprice"
                    palceholder="Enter price">
                   </ng-container>
                </mat-form-field> -->

                

                

                <!-- <mat-form-field class="w30 ml50">
                    <mat-label>Number of Seats</mat-label>
                    <ng-container *ngFor="let t of theatre.ticket">
                        <input 
                    [(ngModel)]="t.ticketSeats"
                    type="text"
                    matInput
                    name="ticketSeats"
                    palceholder="Enter seats">
                    </ng-container>
                </mat-form-field> -->



                <!-- <mat-form-field class="w40">
                    <mat-label>City</mat-label>
                    <input 
                    [(ngModel)]="theatre.city"
                    type="text"
                    matInput
                    name="city"
                    palceholder="Enter city">
                </mat-form-field><br> -->

                


                <div class="container loc">
                    <button type="submit" mat-raised-button color="accent">Add Theatre</button>
                </div>





            </form>
        </div>

    </div>
</div>

